@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 background: #faf0e6; 
}

.full-bleed {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}


.excalidraw {
  @apply bg-gray-900;

  > img {
    @apply max-w-full;
    @apply mx-auto;
    max-height: 35vh;
  }

  &--dark {
    > img {
      filter: invert(100%) hue-rotate(180deg);
    }
  }
}

