---
layout: layouts/base.njk
title: rvi.fyi
summary: thoughts and writings of rvi.
counterKey: home
---
<main class="prose container mx-auto px-4">
  <ul>
    {%- for post in collections.post -%}
      <li><a class="font-display" href="{{ post.url }}"> {{ post.data.title }}</a></li>
    {%- endfor -%}
  </ul>
</main>
